@page
@model HomeTask4.Web.Pages.Settings.IndexModel
@{
    Layout = "_Layout";
}

<div class="display-4">
    <p>Category <a asp-page="/Settings/CreateCategory">create</a>.</p>
    <p>Recipe <a asp-page="/Settings/CreateRecipe">create</a>.</p>
    <p>Ingredient <a asp-page="/Settings/CreateIngredient">create</a>.</p>
</div>